# Node modules
node_modules/
packages/**/*/node_modules/

# Editor and IDE files
.idea

# Build outputs
dist/


# Others
yarn-offline/
babel.config.js
babel.config.cjs
commitlintrc.js
commitlint.config.js
.eslintrc.cjs
config/
